<!DOCTYPE html>
<html>
  <head>
    <title>Untitled1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="content">
      <% if flash.notice %>
      <p class="notice"><%= flash.notice %></p>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
